<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>博客管理系统</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var flag = '[[${msg}]]'
            console.log(flag);
            if (flag == 'updated') {
                alert('修改成功');
            }
        })
    </script>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a class="icon-bar" href="#">博客管理系统</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:text="主页">主页</a>
                </li>
                <li><a href="#">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" id="menulist">
            <a href="#" class="list-group-item active" onclick="loadPage('page1')">
                <!-- 小图标样式设置 -->
                首页</a>
            <a th:href="@{/Blogs/ShowUser}" class="list-group-item " onclick="loadPage('page2')">
                用户管理 </a>
            <a href="#" class="list-group-item" onclick="loadPage('page3')">
                文章管理</a>
            <a th:href="@{/chat}" class="list-group-item" onclick="loadPage('page3')" target="_blank">
                AI助手</a>
        </div>
        <!--左边菜单栏-->

        <div class="col-sm-10" id="right">
            <ul class="nav nav-tabs">
                <li><a th:href="@{@{/Blogs/home}}">个人资料</a></li>
                <li class="active"><a href="#">密码修改</a></li>
            </ul>
            <form class="form-horizontal" role="form" method="post" th:action="@{/Blogs/updateadminPassword}">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" name="username" id="inputusername"
                               placeholder="请输入用户名" th:value="${session.admin.username}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <label for="inputusername">旧密码</label>
                        <input type="password" class="form-control" name="oldpassword" id="inputOldpassword"
                               placeholder="请输入旧密码" th:value="${oldpassword}">
                        <span style="color: red" th:if="${state} eq 'oldpasswordNull'">旧密码不能为空</span>
                        <span style="color: red" th:if="${state} eq 'oldpasswordNotequal'">旧密码不正确</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <label for="inputusername">新密码</label>
                        <input type="password" class="form-control" name="newpassword1" id="inputNewpassword1"
                               placeholder="请输入新密码" th:value="${newpassword1}">
                        <span style="color: red" th:if="${state} eq 'Notequal'">新密码不一致</span>
                        <span style="color: red" th:if="${state} eq 'passwordNull'">新密码不能为空</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <label for="inputusername">再次输入新密码</label>
                        <input type="password" class="form-control" name="newpassword2" id="inputNewpassword2"
                               placeholder="请再次输入新密码" th:value="${newpassword2}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>