<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spai.dao.UserMapper">


    <insert id="addUser">
        insert into user values (#{id},#{username},#{password},#{email},#{birth},#{articleNum});
    </insert>
    <update id="updateUser">
        update user set username=#{username},password=#{password},email=#{email},birth=#{birth} where id=#{id};
    </update>
    <delete id="deleteUser">
        delete from user where id=#{id};
    </delete>
    <select id="selectUser" resultType="user">
        select * from user where username=#{username}
    </select>
    <select id="getUsers" resultType="com.spai.pojo.User">
        select * from user;
    </select>
    <select id="selectById" resultType="com.spai.pojo.User">
        select * from user where id=#{id};
    </select>
</mapper>